<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Project Introduce</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]>
    <script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">OpenSource_Project</a>
        </div>
        <div id="navbar" class="nav nav-pills pull-right">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li class="active"><a href="/learnmore">Introduce</a></li>
                <li><a href="/aboutus">About Us</a></li>
                <li><a href="/pie">PieGraph</a></li>
                <li><a href="/bar">BarGraph</a></li>
                <li><a href="/geo">GeoGraph</a></li>
                <li><a href="/liquid">LiquidGraph</a></li>
                <li><a href="/attribute">Attribute</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<br>
<br>
<!-- Main jumbotron for a primary marketing message or call to action -->

<div class="jumbotron" style="width:800px;
        font-size: 12px;
        line-height: 35px;
        margin: 50px auto;
        border-radius: 10px;
        padding: 30px;">
    <p style="font-size:40px;line-height: 50px" class="text-center">University Data Analysis</p>
    <p class="text-justify">
        &nbsp;&nbsp;&nbsp;&nbsp;In recent years, the Ministry of Education has intensified the reform of the higher
        education system and promoted the construction of high-level institutions. On the basis of the 985, 211 project,
        put forward the "double first-class" university construction plan. As a result, the original clear distribution
        data of colleges and the statistics of the number of colleges are no longer accurate. Under the premise of
        collecting a large number of basic data, this site will clearly show the distribution data of colleges and the
        level data of colleges through the chart.
    </p>
</div>

<hr>
<footer>
    <p style="text-align: center">&copy; 201892055开源软件基础大作业</p>
    <br>
</footer>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
